/* Set standards */
body {
	background-color: #fcfcfc;
	font-family: Lato, sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Dosis, sans-serif;
	text-transform: uppercase;
}
.cursor-pointer {
	cursor: pointer;
}
.no-decoration {
	text-decoration: none !important;
}
.container.mw940 {
	max-width: 940px !important;
}
@media (min-width: 576px) {
	.jumbotron {
		padding-top: 3rem;
		padding-bottom: 3rem; 
	}
}
.jumbotron {
	box-shadow: 1px 1px #e2e2e2;
	background: rgb(236, 244, 246);
}
.jumbotron .lead {
	font-weight: 300;
}

.jumbotron h1 .fa {
	font-size: 1.5rem;
	position: relative;
	bottom: 0.3rem;
}
.jumbotron img {
	box-shadow: 3px 3px 5px 2px #e2e2e2;
}
.fa-green {
	color: #a0da1b;
}
.fa-blue {
	color: #4286f4;
}
.fa-yellow {
	color: #fedf15;
}
.fa-orange {
	color: #f46523;
}
.fa-red {
	color: #ed1b24;
}
.fa-gray, .fa-disabled {
	color: #afa9a9;
}

/* Navigation */
.navbar {
 	background: #fff;
    color: #323232;
    transition: opacity .6s;
    opacity: 1;

}
.navbar.navbar-main {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	position: relative;
	z-index: 20;
}
.navbar-nav .nav-link, .navbar .minititle {
    font-family: "Dosis", sans-serif;
    font-weight: 300;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    line-height: 55px;
}
.navbar-main .navbar-toggler-right {
	top: 1.4rem;
	z-index: 30;
}
.navbar-nav .nav-item {
	transition: border-bottom 1s cubic-bezier(.19,1,.22,1);
}
.navbar-nav .nav-link {
	transition: color 1s cubic-bezier(.19,1,.22,1);
}
.navbar-nav .nav-item:first-child {
	margin-left: 0;
}
.navbar-nav .nav-item {
	margin: 0 0.25rem;
}
.navbar-nav .nav-item:last-child {
	margin-right: 0;
}
.navbar-nav .nav-item.nav-recipe,
.hovermq .navbar-nav:hover .nav-item.nav-recipe {
	border-bottom: 3px solid rgba(255, 89, 100, 0.35);
}

.navbar-nav .nav-item.nav-menus,
.hovermq .navbar-nav:hover .nav-item.nav-menus {
	border-bottom: 3px solid rgba(53, 167, 255, 0.35);
}

.navbar-nav .nav-item.nav-themes,
.hovermq .navbar-nav:hover .nav-item.nav-themes {
	border-bottom: 3px solid rgba(178, 219, 191, 0.35);
}

.navbar-nav .nav-item.nav-myweek,
.hovermq .navbar-nav:hover .nav-item.nav-myweek {
	border-bottom: 3px solid rgba(255, 231, 76, 0.35);
}

.hovermq .navbar-nav .nav-item:hover.nav-recipe, 
.navbar-nav .nav-item.active.nav-recipe {
	border-bottom: 3px solid rgba(255, 89, 100, 1);
}

.hovermq .navbar-nav .nav-item:hover.nav-menus, 
.navbar-nav .nav-item.active.nav-menus {
	border-bottom: 3px solid rgba(53, 167, 255, 1);
}

.hovermq .navbar-nav .nav-item:hover.nav-themes, 
.navbar-nav .nav-item.active.nav-themes {
	border-bottom: 3px solid rgba(178, 219, 191, 1);
}

.hovermq .navbar-nav .nav-item:hover.nav-myweek, 
.navbar-nav .nav-item.active.nav-myweek {
	border-bottom: 3px solid rgba(255, 231, 76, 1);
}

.hovermq  .navbar-nav .nav-link:hover > * {
    color: #b1b0b0;
}
.hovermq  .navbar-nav:hover .nav-link {
    color: #b1b0b0;
}

.navbar.nav-sub {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	position: relative;
	z-index: 10;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.navbar.nav-sub .nav-link {
	font-size: 16px;
	font-family: Lato, sans-serif;
	letter-spacing: normal;
	text-transform: none;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 2;
}
.navbar.nav-sub .navbar-nav:not(.activesub) {
	display: none;
}

.navbar.nav-sub.nav-recipe {
	background: rgba(255, 89, 100, 0.85);
}
.navbar.nav-sub.nav-recipe .nav-link {
	color: #fff;
}

.navbar.nav-sub.nav-menus {
	background: rgba(53, 167, 255, 0.85);
}

.navbar.nav-sub.nav-menus .nav-link {
	color: #fff;
}

.navbar.nav-sub.nav-themes {
	background: rgba(178, 219, 191, 0.85);
}
.navbar.nav-sub.nav-themes .nav-link {
	color: #fff;
}

.navbar.nav-sub.nav-myweek {
	background:  rgba(255, 231, 76, 0.85);
}

.navbar.nav-sub.nav-myweek .nav-link {
	color: rgba(0, 0, 0, 0.9);
}
.navbar-brand {
	width: 100% !important;
}
.navbar-nav .nav-link {
	font-size: 19px;
}

.navbar-user-menu {
	width: 100%;
}
@media (min-width: 768px)
{
	.navbar-brand {
		width: 25% !important;
	}
	
	.navbar-user-menu {
		width: 50%;
	}
}
@media (max-width: 767px) {
	.navbar-nav.navbar-user-menu .dropdown-menu {
		opacity: 1;
		visibility: visible;
		border: none;
	    padding-top: 0;
	    margin-top: 0;
	}
}
.navbar-brand .minititle a {
	color: rgba(0, 0, 0, 0.9);
}

.navbar .dropdown span {
	font-size: 19px;
	font-family: "Dosis", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    line-height: 55px;
	display: block;
    padding: 0.5em 0.5rem;
    -webkit-appearance: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: color 1s cubic-bezier(.19,1,.22,1);
}
.hovermq .navbar .dropdown span:hover {
	color: rgba(0, 0, 0, 0.7);
}
.navbar .dropdown .dropdown-toggle:after {
	display: none;
}

@media (min-width: 900px) {
	.navbar-brand .row
	{
		padding-left: 3rem;
	}
	
	.navbar-nav .nav-link, 
	.navbar .dropdown span {
		font-size: 23px;
	}
}
.dropdown .dropdown-menu {
	-webkit-transition: opacity 0.2s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: opacity 0.2s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: opacity 0.2s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: opacity 0.2s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    
	font-family: "Dosis", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .0625rem;

}

.dropdown.show .dropdown-menu {
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

	display: block;
    opacity: 1;
    visibility: visible;
}

/* extra-small size (xs) */
svg.logoVM {
	height: 55px;
	margin-top: 8px;
	transition: height 1s cubic-bezier(.19,1,.22,1);
	fill: #6FA3CE;
	stroke: #6FA3CE;
}

/* extra small (xs) */
@media (max-width: 576px)
{
	svg.logoVM {
		height: 40px;
	}
}

/* medium (md) */
@media (min-width: 768px)
{
	svg.logoVM {
		height: 60px;
	}
}


/* Page elements */
.page-wrapper .container {
	max-width: 940px;
}

.meta-recipe {
	color: #5a5a5a;
	margin: 1.7rem 0 0.5rem;
}
.meta-recipe ul {
	padding: 0;
	margin: 0;
	line-height: 2.5;
}
.meta-recipe li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.meta-recipe .meta > li {
	border-right: 1px solid #afa9a9;
	margin-right: 0.8rem;
	padding-right: 1rem;
}
.meta-recipe .meta > li:last-child {
	border:none;
	margin-right: 0;
	padding-right: 0;
}

.meta-recipe .meta .votes ul > li {
	margin-right: 0.7rem;
	padding-right: 0.5rem;
	cursor: pointer;
}
.meta-recipe .meta .votes ul > li:last-child {
	border:none;
	padding-right: 0;
	margin-right: 0;
}

/* green */
.difficulty.easy .fa-circle {
	color: #4286f4;
}
/* yellow */
.difficulty.medium .fa-circle {
	color: #a0da1b;
}
/* orange */
.difficulty.hard .fa-circle {
	color: #f46523;
}
/* red */
.difficulty.advanced .fa-circle {
	color: #ed1b24;
}
/* empty circle */
.difficulty .fa-circle-thin {
	color: #afa9a9;
}


.recipe .ingredients ul {
	-webkit-column-count:2;
	column-count:2;
	-webkit-column-gap:20px;
	column-gap:20px;
	padding: 0;
	margin-top: 1em;
}

.recipe .ingredients ul>li {
	display:inline-block;
	position:relative;
	width:100%;
	list-style-type:none;
	border-bottom: 1px solid #ededed;
	padding: 0.4rem 0;
}

.recipe .ingredients ul.separated>li {
	margin-left:0;
	padding-left:20px;
	box-sizing:border-box;
}

.recipe .ingredients ul>li:before {
	content:'';
	position:absolute;
	top:16px;
	left:5px;
	height:4px;
	width:4px;
	background:#353432;
	border-radius:2px;
}

.recipe .ingredients #slider {
	width: 200px;
    height: 1px;
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 0.5em;
}
.recipe .ingredients #slider .ui-slider-handle {
	top: -0.8em;
	border-radius: 4em;
	width: 1.7em;
    height: 1.7em;
    text-align: center;
    cursor: ew-resize;
}
.recipe .ingredients #slider .fa {
	font-size: 1.1em;
	position: relative;
	top: 1px;
}
.recipe .ingredients #slider .fa:first-child {
	padding-right: 3px;
}

.no-list-columns .recipe .ingredients ul {
	-webkit-column-count:1;
	column-count:1;
}

.no-list-columns .recipe .ingredients ul {
	list-style-type:none;
}

.no-list-columns .recipe .ingredients ul>li {
	display:list-item;
	width:auto;
}

.no-list-columns .recipe .ingredients ul>li:before {
	display:none;
}

@media screen and (max-width: 400px) {
	.recipe .ingredients ul {
		-webkit-column-count:1;
		column-count:1;
	}
	
	.recipe .ingredients ul>li {
		display:block;
		width:auto;
	}
}

.no-list-columns .recipe .ingredients li {
	display:block;
}

.ingredients .portions {
	margin-bottom:10px;
}

.instructions ol {
	counter-reset:li;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 3rem;
	margin-top: 20px;
	margin-left: 2em; 
    padding-left: 8px; 
}
@media(max-width:850px) {
	.instructions ol {
		padding-left: 0;
	}
}

.instructions ol li {
	margin: 0 0 2.1rem 0;
	list-style: none;
	position:relative;
}

.instructions ol li:before {
	content:counter(li);
	counter-increment:li;
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 0 2em 0 0;
	line-height: 30px;
	border: 1px solid #32cb56;
	border-radius: 50%;
	text-align: center;
	background: #32cb56;
	color: #fff;
	font-family: Dosis;
	left: -2.5em;
	top: -5px;
}

.instructions ol li p {
	margin-bottom:10px;
}

.recipe .ingredients header {
	display:table;
	width:100%;
}

.recipe .portions {
	margin:-10px -15px 0 0;
	position:relative;
}


@media screen and (min-width: 850px) {
	.recipe .ingredients {
	}
	
	.recipe .portions {
		margin:0 0 10px;
	}
	
	.recipe .ingredients ul {
		-webkit-column-count:1;
		column-count:1;
		width: 250px;
	}
	
	.recipe .ingredients ul>li {
		display:block;
		width:auto;
	}
}

@media screen and (max-width: 700px) and (min-width: 700px),screen and (max-width: 450px) {
	.recipe .portions {
		display:block;
	}
}

@media screen and (max-width: 300px) {
	.recipepage .meta li:first-child {
		display:none;
	}
	
	.recipepage .meta li:nth-child(2) {
		border-left:none;
		padding-left:0;
		margin-left:0;
	}
}

@media screen and (max-width: 850px) and (min-width: 450px) {
	.recipe .portions {
		float:none;
		position:absolute;
		right:0;
		top:-5px;
		margin:0;
	}
}

.disclaimer.portion-disclaimer {
    padding: 15px;
	margin: 1rem 0;
	display: none;
}

#portions {
	display: none;
}
.recipe-image-container .img-thumbnail {
	float: none;
	margin-bottom: 2rem;
}
.recipe-header-container {
	float: left;
}
.recipe .page-wrapper .jumbotron {
	padding-bottom: 0;
}
.recipe .page-wrapper .jumbotron .container:after {
	display: block;
	content: "";
	clear: both;
}

.recipe .instructions p:last-child {
	margin-bottom: 0;
}
.recipe .instructions {
	margin-bottom: 2rem;
}

@media (min-width: 850px)
{
	.recipe-image-container {
		float: right;
		margin-bottom: 0;
	}	
	.recipe-header-container {
		float: none;
	}
	.recipe .page-wrapper .container:after {
		display: block;
		content: "";
		clear: both;
	}
}
.tags {
	padding-bottom: 1rem;
}
.tags ul {
	padding: 0;
}
.tags ul li {
	display: inline-block;
}
.tags ul .badge {
	padding: 0.55em 0.8em;
}

/* Footer */
footer .footer-soundsgood {
	background-image: url('/images/food-collage@2.png');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/food-collage@2.png', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/food-collage@2.png', sizingMethod='scale');
	background-position: center top;
	background-repeat: repeat-y;
	min-height: 300px;
	margin-bottom: 2rem;
}
footer .footer-soundsgood .row { 
	color: #fff;
}
footer .footer-soundsgood .header {
	padding-top: 4rem;
    text-align: center;
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
}
footer .footer-soundsgood .header h6 {
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 2.5rem;
}
footer .footer-soundsgood .text-muted {
	color: #e4e4e4 !important;
}
footer .footer-soundsgood .form-container {
	padding-top: 4rem;
    font-family: Dosis, sans-serif !important;
    text-transform: uppercase;
	padding-bottom: 4rem;
}

footer .footer-soundsgood .form-container .form-control,
footer .footer-soundsgood .form-container .btn {
	font-family: Dosis, sans-serif;
}
footer .footer-soundsgood .form-container .btn {
	text-transform: uppercase;
}

footer .footer-soundsgood .form-container .form-check-label.createAccountCheckbox {
	border-bottom: 1px solid #fff;
}

footer .pattern {
	background: url('/images/pattern.png');
	width: 100%;
	height: 100%;
}

footer .footer-logo svg {
	height: 30px;
	fill: #a6a6a6;
	stroke: #a6a6a6;
	margin-top: -10px;
}
@media (min-width: 576px)
{
	footer .footer-logo svg {
		height: 50px;
	}
}
footer .breadcrumb {
	background: none;
	padding: 0;
	margin: 0 0 1rem 0;
}

footer .breadcrumb-item {
	display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: top;
}
footer .breadcrumb-item:after {
    border-right: 1px solid #D5D7DA;
    border-top: 1px solid #D5D7DA;
    content: '';
    display: inline-block;
    height: 18px;
    margin: 0 15px;
    -webkit-transform: translate(-5px, 3px) rotate(45deg);
    transform: translate(-5px, 3px) rotate(45deg);
    width: 18px;
}
/* no underline for logo */
footer .breadcrumb-item:first-child a {
	text-decoration: none;
}
footer .breadcrumb-item + .breadcrumb-item::before{
	content: '';
	padding: 0;
}

footer .breadcrumb-item + .breadcrumb-item:last-child:after{
	border: none;
	width: 0;
	height:0;
	margin:0;
}

footer section header h3 {
	font-size: 16px;
	font-family: Lato, sans-serif;
	font-weight: 700;
	line-height: 1.35;
}
footer section header h3 a {
	color: #5a5a5a;
}
footer section ul.nav-links {
	margin: 0 0 1.6rem 0;
	padding: 0;
}
footer section ul.nav-links li {
	list-style: none;
	line-height: 1.5;
}
@media (min-width: 576px) {
	footer .breadcrumb-item:first-child:after {
    -webkit-transform: translate(-5px, -17px) rotate(45deg);
    transform: translate(-5px, -17px) rotate(45deg);
		
	}
}
footer .footer-end {
	background: #F7F7F7;
	text-align: center;
	font-family: Dosis, sans-serif;
}
footer .footer-end .copyright {
	vertical-align: top;
	padding: 1rem 0 0 1rem;
	display: inline-block;
}
#totop span .icon-background {
	color: #6FA3CE;
}
#totop span {
	color: #fff;
	padding-top: 1rem;
}
@media (min-width: 756px) {
	footer .footer-end .copyright, #totop span {	
		padding-top: 1.5rem;	
	}
}