.justify-content-center {
    -webkit-box-pack: center!important;
    -webkit-justify-content: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.bg-faded {
    background-color: #f7f7f7;
}


.navbar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .5rem 1rem;
    box-sizing: border-box;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,.1);
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.9);
}
.navbar-toggler-right {
    position: absolute;
    right: 1rem;
}
.navbar-toggler {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.9);
}
.mr-auto {
    margin-right: auto!important;
}
.w-50 {
    width: 50%!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    width: 50%!important;
	margin-right: auto!important;
    color: rgba(0,0,0,.9);
}

.navbar-brand.abs
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.collapse {
    display: none;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.w-100 {
    width: 100%!important;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -webkit-justify-content: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
	-webkit-box-pack: center!important;
    -webkit-justify-content: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    width: 100%!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: rgba(0,0,0,.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: .5em 1em;
}

.ml-auto {
    margin-left: auto!important;
}
.w-100 {
    width: 100%!important;
}
.justify-content-end {
    -webkit-box-pack: end!important;
    -webkit-justify-content: flex-end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

@media (min-width: 768px) {
	.navbar-toggleable-sm {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	}
	
	.navbar-toggleable-sm .navbar-nav {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	
	.navbar-toggleable-sm .navbar-collapse {
	    display: -webkit-box!important;
	    display: -webkit-flex!important;
	    display: -ms-flexbox!important;
	    display: flex!important;
	    width: 100%;
	}

	.navbar-toggleable-sm .navbar-toggler {
	    display: none;
	}
	
	.navbar-toggleable-sm .navbar-collapse {
	    display: -webkit-box!important;
	    display: -webkit-flex!important;
	    display: -ms-flexbox!important;
	    display: flex!important;
	    width: 100%;
	}

	.navbar-toggleable-sm .navbar-nav .nav-link {
	    padding-right: .5rem;
	    padding-left: .5rem;
	}

	.navbar-toggleable-sm .navbar-toggler {
	    display: none;
	}
	.navbar-toggleable-sm .navbar-collapse {
	    display: -webkit-box!important;
	    display: -webkit-flex!important;
	    display: -ms-flexbox!important;
	    display: flex!important;
	    width: 100%;
	}

	.navbar-toggleable-sm .navbar-nav {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	
	.navbar-toggleable-sm .navbar-nav .nav-link {
	    padding-right: .5rem;
	    padding-left: .5rem;
	}

	.navbar-toggleable-sm .navbar-nav {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	}

}
/*
.layout-header {
	height: 10rem;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}
.header-desktop-nav {
	white-space: nowrap;
    z-index: 10;
    color: #323232;
    transition: opacity .6s;
    opacity: 1;
}

.header-desktop-nav .desktop-links {
	position: relative;
	text-align: center;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    top: 0rem;
    overflow: scroll;
}

.header-desktop-nav .desktop-links>* {
    font-family: "Dosis", sans-serif;
    font-weight: 300;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    margin: 0 .9375rem;
    padding: .625rem;
    display: inline-block;
    transition: color .5s cubic-bezier(.19,1,.22,1),transform 1s cubic-bezier(.19,1,.22,1);
    color: #323232;
    line-height: 9rem;
}

.no-touchevents .header-desktop-nav .desktop-links:hover>* {
    color: #b1b0b0;
}
.no-touchevents .header-desktop-nav .desktop-links>:hover {
    color: #323232;
}

.totheright {
    font-family: "Dosis", sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 9rem;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    padding: .625rem;
	color: #323232;
}

.logo-wrapper {
    z-index: 10;
}
.logo-link {
	opacity: 1;
    transition: opacity .25s .5s,transform .6s cubic-bezier(.19,1,.22,1),color .3s;
    line-height: .8;
	cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.375rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media screen and (max-width: 850px) and (min-width: 450px)
{
	.header-desktop-nav .desktop-links {
		margin: 0;
	}
}
*/
svg.logoVM {
	height: 60px;
}

