.sharrre .box {
	float:left;
}

.sharrre span {
	display:inline-block;
	cursor:pointer;
}

.sharrre .count {
	color:#444;
	display:block;
	font-size:17px;
	line-height:34px;
	height:34px;
	padding:4px 0;
	position:relative;
	text-align:center;
	text-decoration:none;
	width:50px;
	background-color:#eee;
	border-radius:4px;
}

.sharrre .share {
	color:#FFF;
	display:block;
	font-size:11px;
	height:16px;
	line-height:16px;
	margin-top:3px;
	padding:0;
	text-align:center;
	text-decoration:none;
	width:50px;
	background-color:#9CCE39;
	border-radius:4px;
}

.sharrre .buttons {
	display:none;
	float:left;
	width:300px;
}

.sharrre .button {
	float:left;
	max-width:50px;
	height:50px;
	margin-left:10px;
}

.sharrre {
	padding-left:5px;
}

.socialrecept {
	padding-left:10px!important;
}

.socialrecept #sharrre-email {
	display:none;
}

.sharing-text {
	display:none!important;
	padding-right:28px;
}

.sharing-text>p {
	margin:0;
	color:#3f3f40;
	margin-right:5px;
}

.socialSharing .sharrre-facebook {
	padding-left:0;
}

.socialrecept .sharing-text {
	display:table-cell!important;
}

.socialrecept .arrow-after:after {
	margin-left:4px!important;
}

@media (min-width: 870px) and (max-width: 979px) {
	.socialrecept .arrow-after:after {
		margin-left:-11px!important;
	}
}

@media screen and (max-width: 980px) {
	.socialrecept .arrow-after:after {
		margin-top:5px;
	}
	
	.sharing-text {
		padding-right:0;
	}
}

@media screen and (max-width: 700px) {
	.socialrecept #sharrre-email {
		display:table-cell;
	}
	
	.socialrecept .sharing-text {
		display:none;
	}
}

#cookie-bar.fixed {
	position:fixed;
	top:0;
	left:0;
	width:100%;
}

#cookie-bar.fixed.bottom {
	bottom:0;
	top:auto;
}

#cookie-bar .cb-disable {
	background:#900;
}

#cookie-bar .cb-disable:hover {
	background:#b00;
}

.bottom-alerts {
	position:fixed;
	bottom:0;
	z-index:99;
	width:100%;
}

.bottom-alerts .alarm,.bottom-alerts .notice,.bottom-alerts .cookie-bar {
	line-height:20px;
	text-align:center;
	padding:3px 0;
	font-family:'icatext';
	font-weight:400;
	font-style:normal;
	font-size:14px;
	vertical-align:middle;
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
	display:none;
	color:#3F3F40;
}

.bottom-alerts p {
	margin:0;
	line-height:20px;
	width:auto;
	position:relative;
	text-align:center;
	padding:0 10px;
}

.bottom-alerts .notice .notice-link,.bottom-alerts .cookie-bar .cb-policy {
	margin-left:5px;
}

.bottom-alerts .alarm .alarm-link {
	text-decoration:underline;
	color:#fff;
	margin-left:5px;
	display:inline-block;
}

.bottom-alerts .alarm .alarm-close,.bottom-alerts .notice .notice-close,.bottom-alerts .cookie-bar .cb-enable {
	height:20px;
	width:20px;
	position:absolute;
	right:10px;
	top:10px;
	cursor:pointer;
}

.bottom-alerts .alarm {
	background:#E70;
	padding:15px 30px 15px 10px;
}

.bottom-alerts .alarm .alarm-icon {
	background-position:-49px -1969px;
	width:36px;
	height:31px;
	content:"";
	position:absolute;
	left:0;
	top:0;
}

.bottom-alerts .alarm .alarm-close {
	background-position:-306px -65px;
}

.bottom-alerts .alarm p {
	padding:0 10px 10px 50px;
	text-align:center;
}

.bottom-alerts .notice {
	background:#F2D8E7;
}

.bottom-alerts .notice .notice-close,.bottom-alerts .cookie-bar .cb-enable {
	background-position:-357px -65px;
}

.bottom-alerts .cookie-bar {
	background:#ccc;
	z-index:1;
	display:block;
}

@media screen and (max-width: 699px) {
	.bottom-alerts .notice,#cookie-bar {
		padding:15px 30px;
	}
}

@media screen and (min-width: 700px) {
	.bottom-alerts .alarm {
		padding:15px 30px;
	}
	
	.bottom-alerts p {
		max-width:1220px;
		margin:0 auto;
		padding:0 30px;
	}
	
	.bottom-alerts .alarm p {
		padding:0;
	}
}

@media (min-width: 480px) and (max-width: 699px) {
	.bottom-alerts .alarm .alarm-icon {
		float:left;
		top:-3px;
	}
}

@media screen and (min-width: 480px) {
	.bottom-alerts .alarm .alarm-icon {
		position:relative;
		vertical-align:middle;
		margin-right:10px;
	}
}

.tab-container {
	clear:both;
	position:relative;
}

.tab-list-wrapper {
	overflow:hidden;
	padding:2px 0 0;
	border-bottom:3px solid #fff;
	height:35px;
	position:relative;
}

.tab-list-wrapper .wrapper {
	height:100%;
}

.tab-list-wrapper.select-tabs {
	border-bottom:none;
}

.arrowed .tab-list-wrapper,.fat-tabs>.tab-list-wrapper,.tab-list-wrapper.no-border {
	border:none;
	height:auto;
}

.tab-list-wrapper.open {
	z-index:3;
}

.tab-list-wrapper .toggle {
	display:none;
	float:right;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#fff;
}

.tab-list {
	padding:0;
	margin:0;
	overflow:hidden;
}

.tab-list:not(.noEllipsis) {
	overflow:visible;
	white-space:nowrap;
	display:inline-block;
}

.tab-list-wrapper.overflowScroll .nav-next,.tab-list-wrapper.overflowScroll .nav-pre {
	height:100%;
	margin-top:1px;
}

.arrowed .tab-list-wrapper {
	height:60px;
}

.arrowed .tab-list {
	overflow:visible;
	margin:0 0 20px;
}

.tab-list>li {
	padding:0;
	margin:0;
	list-style:none;
	display:inline-block;
	white-space:nowrap;
	outline:none;
}

.tab-list>li>a {
	display:block;
	color:#a02971;
	background-color:rgba(255,255,255,0.6);
	padding:7px 15px;
	line-height:20px;
	outline:none;
	text-align:center;
	position:relative;
	font-family:'icatext','Droid Sans';
}

.fat-tabs .tab-list>li>a {
	padding:12px;
}

html.ie9 .tab-list>li>a,html.ie8 .tab-list>li>a {
	padding-bottom:8px;
}

.tab-list>li>a[data-count]:after {
	content:" (" attr(data-count) ")";
}

.tab-list.inline {
	margin:0 0 10px;
	display:block;
}

.tab-list.inline>li>a {
	font-family:'icatext';
	font-weight:700;
	padding:0;
	background:none;
	color:#9c3370;
}

.has-hover .tab-list.inline>li>a:hover {
	color:#dc438c;
}

.tab-list.inline>li.active>a,.has-hover .tab-list.inline>li.active>a:hover {
	background:none;
	color:#eb1f07;
}

.flexed .tab-list {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	margin-left:-2px;
	margin-right:-2px;
}

.flexed .tab-list>li {
	display:block;
	display:inline-block\9;
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	padding:0 2px;
}

.flexed .tab-list>li>a {
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	overflow:hidden;
	text-overflow:ellipsis;
}

.flexed .tab-list-wrapper.overflow-toggle .wrapper {
	display:block;
	min-width:0;
}

li.tab.active>a {
	color:#eb1f07;
	background:#fff;
}

.arrowed li.tab.active>a:after,.arrowed .tab-list-wrapper.overflow-toggle .togglebtn.active:after {
	content:"";
	position:absolute;
	width:0;
	height:0;
	border-top:8px solid #fff;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	left:50%;
	bottom:-8px;
	margin-left:-8px;
}

.arrowed .tab-list>li>a {
	overflow:visible;
}

.arrowed .collapsibles {
	margin-top:-19px;
}

.arrowed .collapsibles li.tab.active>a:after {
	content:none;
}

.tab-list-wrapper.overflow-toggle.collapsed .wrapper {
	overflow:hidden;
	margin-right:47px;
	margin-right:0;
	display:inline-block;
	padding-right:55px;
}

.flexed .tab-list-wrapper.overflow-toggle.collapsed .wrapper {
	display:block;
	margin-right:47px;
	padding-right:0;
	overflow:visible;
}

.tab-list-wrapper.overflow-toggle .nav-toggle {
	right:40px;
}

.flexed .tab-list-wrapper.overflow-toggle .nav-toggle {
	right:-56px;
}

.tab-list-wrapper.overflow-toggle .togglebtn {
	height:auto;
}

.arrowed .tab-list-wrapper.overflow-toggle .nav-toggle,.arrowed .tab-list-wrapper.overflow-toggle .togglebtn {
	overflow:visible;
}

.tab-panel {
	padding-top:20px;
	margin-bottom:20px;
	outline:none;
	display:none;
}

.tab-panel.no-margin {
	margin-bottom:0;
}

.tab-panel.nopadding {
	padding-top:0;
}

.tab-panel.active {
	display:block;
}

.tab-panel.result-listing {
	padding-top:0;
}

.tab-panel.gradiated {
	padding:15px;
	border:none;
}

.tab-list-wrapper.overflowScroll .nav-pre.nav-pre-icon,.tab-list-wrapper.overflowScroll .nav-next.nav-next-icon {
	height:34px;
	background-position:-4px -1507px;
}

html.has-hover .tab-list-wrapper.overflowScroll .nav-pre.nav-pre-icon:hover,.tab-list-wrapper.overflowScroll .nav-pre.nav-pre-icon:active {
	background-position:-4px -1557px;
}

.tab-list-wrapper.overflowScroll .nav-pre.inactive.nav-pre-icon {
	background-position:-4px -1607px!important;
}

.tab-list-wrapper.overflowScroll .nav-pre.disabled,.tab-list-wrapper.overflowScroll .nav-next.disabled {
	display:none!important;
}

.tab-list-wrapper.overflowScroll .nav-next {
	border-bottom:0 none;
	border-left:0 none;
	right:0;
}

.tab-list-wrapper.overflowScroll .nav-next.nav-next-icon {
	background-position:-50px -1507px;
}

html.has-hover .tab-list-wrapper.overflowScroll .nav-next.nav-next-icon:hover,.tab-list-wrapper.overflowScroll .nav-next.nav-next-icon:active {
	background-position:-50px -1557px;
}

.tab-list-wrapper.overflowScroll .nav-next.inactive.nav-next-icon {
	background-position:-50px -1607px!important;
}

@keyframes blink {
	from {
		background-color:#3f3f40;
	}
	
	to {
		background-color:#babcbf;
	}
}

@-webkit-keyframes blink {
	from {
		background-color:#3f3f40;
	}
	
	to {
		background-color:#babcbf;
	}
}

@keyframes buttonfontfadein {
	0% {
		font-size:0;
		color:rgba(255,255,255,0);
	}
	
	33% {
		font-size:15px;
		color:rgba(255,255,255,0);
	}
	
	100% {
		font-size:15px;
		color:#fff;
	}
}

@-webkit-keyframes buttonfontfadein {
	0% {
		font-size:0;
		color:rgba(255,255,255,0);
	}
	
	33% {
		font-size:15px;
		color:rgba(255,255,255,0);
	}
	
	100% {
		font-size:15px;
		color:#fff;
	}
}

@keyframes confirmbutton {
	0%,33% {
		background:#6b3250;
	}
	
	100% {
		background:#8db72c;
	}
}

@-webkit-keyframes confirmbutton {
	0%,33% {
		background:#6b3250;
	}
	
	100% {
		background:#8db72c;
	}
}

@keyframes slideaway {
	0% {
		margin-left:0;
		padding-left:0;
		background:#6b3250 url(/images/ajax_white_transparent.gif) no-repeat center center;
	}
	
	30% {
		margin-left:0;
		padding-left:0;
		background:#6b3250 url(/images/transparent_check.png) no-repeat center center;
	}
	
	50% {
		margin-left:0;
		padding-left:0;
		background:#6b3250 url(/images/transparent_check.png) no-repeat center center;
	}
	
	100% {
		margin-left:0;
		padding-left:100%;
		background:#6b3250 url(/images/transparent_check.png) no-repeat center center;
	}
}

@-webkit-keyframes slideaway {
	0% {
		margin-left:0;
		padding-left:0;
		background:#6b3250 url(/images/ajax_white_transparent.gif) no-repeat center center;
	}
	
	30% {
		margin-left:0;
		padding-left:0;
		background:#6b3250 url(/images/transparent_check.png) no-repeat center center;
	}
	
	50% {
		margin-left:0;
		padding-left:0;
		background:#6b3250 url(/images/ajax_white_transparent.gif) no-repeat center center;
	}
	
	100% {
		margin-left:0;
		padding-left:100%;
		background:#6b3250 url(/images/ajax_white_transparent.gif) no-repeat center center;
	}
}

html.no-scroll,html.no-scroll>body {
	height:100%;
	overflow:hidden;
}

.quick-search-container.fillscreen {
	top:48px;
	left:0;
	right:0;
	bottom:0;
	width:auto;
	position:absolute;
	overflow-x:hidden;
	overflow-y:scroll;
}

.quick-search-container {
	position:absolute;
	top:100px;
	right:100px;
	width:300px;
	background:#f3f0eb;
	z-index:100;
	-webkit-transition:opacity 500ms ease 50ms;
	transition:opacity 500ms ease 50ms;
	height:0;
	opacity:0;
	overflow:hidden;
	font-family:icatext;
	font-size:1.3rem;
	font-weight:lighter;
}

.quick-search-container a *,.quick-search-container .has-hover a:hover * {
	color:#3f3f40;
}

.quick-search-container a h3 {
	color:#a02971;
}

.quick-search-container .has-hover a:hover h3 {
	color:#dc438c;
}

.quick-search-container.active {
	height:auto;
	opacity:1;
	z-index:400;
}

.historicalSearch:before {
	content:attr(data-history-title);
	display:block;
	font-family:icatext;
	font-size:1.3rem;
	font-weight:700;
	text-transform:uppercase;
	border-bottom:0 none;
	color:#808283;
	padding:.3rem 1rem 0;
}

.quick-search-suggestions .suggestion {
	position:relative;
	font-size:1.4rem;
	line-height:1.2em;
	background:#fff;
	padding:0 1rem;
	border-left:1px solid #ebebec;
	border-right:1px solid #ebebec;
	cursor:pointer;
	padding-top:.8rem;
	padding-bottom:.6rem;
}

.quick-search-suggestions .suggestion:before,.quick-search-suggestions .suggestion:after {
	content:"";
	display:block;
	position:absolute;
	top:0;
}

.quick-search-suggestions .suggestion:before {
	left:0;
	right:0;
	border-top:1px solid #ebebec;
}

.quick-search-suggestions .suggestion:after {
	left:-1px;
	bottom:0;
	width:4px;
	background:#dc438c;
	opacity:0;
	-webkit-transition:opacity 200ms ease;
	transition:opacity 200ms ease;
}

.quick-search-suggestions .suggestion:first-letter {
	text-transform:uppercase;
}

.has-hover .quick-search-suggestions .suggestion:hover:after,.quick-search-suggestions .suggestion.active-qr:after {
	opacity:1;
}

.quick-search-results .grid_fluid.search-group-headline {
	margin:0;
	padding-top:.3rem;
	border-left:1px solid #ebebec;
	border-right:1px solid #ebebec;
}

.quick-search-results .grid_fluid.search-group-headline .column {
	padding:0;
	border:0;
}

.quick-search-results .grid_fluid.search-group-headline .column small {
	display:none;
}

.quick-search-results .grid_fluid.search-group-headline .column a {
	display:none;
}

.quick-search-results .grid_fluid.search-group-headline .column h2 {
	margin:0;
	line-height:2.6rem;
	font-family:icatext;
	font-size:1.3rem;
	font-weight:700;
	text-transform:uppercase;
	border-bottom:0 none;
	color:#808283;
}

.quick-search-results .grid_fluid.content-grid {
	background:#fff;
	padding:0;
	margin:0;
	border-left:1px solid #ebebec;
	border-right:1px solid #ebebec;
	font-size:0;
	position:relative;
}

.quick-search-results .grid_fluid.content-grid .item {
	width:100%;
	cursor:pointer;
	border:5px solid transparent;
	display:inline-block;
	font-size:1.2rem;
	vertical-align:top;
	position:relative;
	background-clip:padding-box;
}

.quick-search-results .grid_fluid.content-grid .item:nth-child(n+2):before {
	content:"";
	display:block;
	position:absolute;
	left:-5px;
	right:-5px;
	top:-5px;
	border-top:1px solid #e1deda;
}

.quick-search-results .grid_fluid.content-grid .item .img-wrapper {
	float:left;
	width:23%;
	margin:0 10px 0 0;
	padding-bottom:19%;
	position:relative;
}

.quick-search-results .grid_fluid.content-grid .item .img-wrapper picture {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden;
}

.quick-search-results .grid_fluid.content-grid .item .img-wrapper picture img:not(.autoWidth) {
	height:auto;
	width:100%;
	max-width:100%;
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

.quick-search-results .grid_fluid.content-grid .item .img-wrapper picture img.autoWidth {
	height:100%;
	width:auto;
	max-width:none;
	position:absolute;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

.quick-search-results .grid_fluid.content-grid .item h3 {
	font-size:1.4rem;
	line-height:1.3em;
	font-weight:400;
	font-family:icarubrik;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.quick-search-results .grid_fluid.content-grid .item p {
	margin:0;
	color:#3f3f40;
	max-height:3em;
	overflow:hidden;
}

.quick-search-results .grid_fluid.content-grid .item p.link {
	display:none;
}

.quick-search-results .grid_fluid.content-grid .item>* {
	-webkit-transition:-webkit-transform 200ms ease 100ms;
	transition:-webkit-transform 200ms ease 100ms;
	transition:transform 200ms ease 100ms;
	transition:transform 200ms ease 100ms,-webkit-transform 200ms ease 100ms;
}

.quick-search-results .grid_fluid.content-grid .item:after {
	-webkit-transition:border 200ms ease;
	transition:border 200ms ease;
	display:block;
	content:"";
	background:none;
	position:absolute;
	top:-5px;
	bottom:-5px;
	left:-6px;
	width:3px;
	background:#dc438c;
	opacity:0;
	z-index:100;
	-webkit-transition:opacity 200ms ease;
	transition:opacity 200ms ease;
}

.has-hover .quick-search-results .grid_fluid.content-grid .item:hover:after,.quick-search-results .grid_fluid.content-grid .item.active-qr:after {
	opacity:1;
	cursor:pointer;
}

.quick-search-results .content-grid.stores figure {
	position:relative;
	width:20%;
	padding-bottom:20%;
	height:0;
	overflow:hidden;
	float:left;
	margin:0 10px 0 0;
}

.quick-search-results .content-grid.stores figure a:after {
	content:"";
	display:table;
	clear:both;
}

.quick-search-results .content-grid.stores figure span {
	position:absolute;
	-webkit-transform:translate(-50%,-50%) scale(0.7);
	transform:translate(-50%,-50%) scale(0.7);
	-webkit-transform-origin:75% 75%;
	transform-origin:75% 75%;
	top:50%;
	left:50%;
}

.quick-search-results .button {
	width:100%;
	margin:0;
	font-size:1.4rem;
}

.quick-search-results .button.disabled {
	color:#3f3f40;
	line-height:1.7rem;
}